*{
    box-sizing: border-box;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(ee.jpg);
    object-fit: cover;
}
.BODY{
    width: 100%;
    height: auto;
}
.sign-in-block{
    width: 30%;
    margin-left: 65%;
    margin-right: 5%;
    margin-top: 30px;
    height: 600px;
    background-color: rgb(235, 234, 234);
    border: none;
    
}
.label{
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}
.input{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 200px;
}
#user-email{
    width: 90%;
    height: 60px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 5%;
    font-size: larger;
    background-color: rgb(247, 246, 246);
    border: 2px solid rgb(214, 214, 214);
}
.submit{
    height: 100px;
    width: 100px;
    background-color: rgba(250, 235, 215, 0);
    border-radius: 15px;
    z-index: 0;

}
#submit{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-image: url(a.png);
    opacity: .3;
    border: none;
}
.create-email{
    width: 50px;
    height: 50px;
}
.create-email i{
    width: 100%;
    height: 100%;
}
.create-email{
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 100px;
    color: rgb(181, 181, 181);
}
.create-email a{
    text-decoration: none;
    color: rgba(254, 56, 1, 0.858);
}
.CREATE{
    font-size: 60px;
    font-weight: 900;
    color: white;
    margin-top: -250px;
    margin-left: 70px;
}
/* .theme-arcane.grid-page-web.theme__section-signup {
  background-image: url(assets/arcane_mobile_default_BG.jpg);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 1.25dppx), only screen and (min-width: 835px) {
  .theme-arcane.grid-page-web.theme__section-signup {
    background-image: url(assets/arcane_mobile_default_BG_2x.jpg);
  }
}
@media screen and (min-width: 960px) {
  .theme-arcane.grid-page-web.theme__section-signup {
    background-image: url(assets/arcane_dsktp_rightAlignedCard_BG.jpg);
  }
}
@media only screen and (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-width: 960px) and (min-device-pixel-ratio: 1.25), only screen and (min-width: 960px) and (min-resolution: 1.25dppx), only screen and (min-width: 960px) and (min-width: 1225px) {
  .theme-arcane.grid-page-web.theme__section-signup {
    background-image: url(assets/arcane_dsktp_rightAlignedCard_BG_2x.jpg);
  }
}
@media only screen and (min-width: 960px) and (-webkit-min-device-pixel-ratio: 3.25), only screen and (min-width: 960px) and (min-device-pixel-ratio: 3.25), only screen and (min-width: 960px) and (min-resolution: 3.25dppx), only screen and (min-width: 960px) and (min-width: 2449px) {
  .theme-arcane.grid-page-web.theme__section-signup {
    background-image: url(assets/arcane_dsktp_rightAlignedCard_BG_4x.jpg);
  }
}
@media only screen and (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-width: 960px) and (min-device-pixel-ratio: 1.25), only screen and (min-width: 960px) and (min-resolution: 1.25dppx), only screen and (min-width: 960px) and (min-width: 1225px) {
  .theme-arcane.grid-page-web {
    background-image: url(assets/arcane_dsktp_centerAlignedCrd_BG_2x.jpg);
  }
}
@media only screen and (min-width: 960px) and (-webkit-min-device-pixel-ratio: 3.25), only screen and (min-width: 960px) and (min-device-pixel-ratio: 3.25), only screen and (min-width: 960px) and (min-resolution: 3.25dppx), only screen and (min-width: 960px) and (min-width: 2449px) {
  .theme-arcane.grid-page-web {
    background-image: url(assets/arcane_dsktp_centerAlignedCrd_BG_4x.jpg);
  }
} */